Repository ydb-platform/ydb-java-dialects, pull requests merged in 2024-03, with the labels that each got.

#68 [Liquibase]: Batch load data from csv
  liquibase-dialect/src/main/java/tech/ydb/liquibase/change/LoadDataChangeYdb.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseCSVLoadTest.java
  liquibase-dialect/src/test/resources/changelogs/changelog_batch_load_data.xml
  liquibase-dialect/src/test/resources/changelogs/csv/episodes.csv
  liquibase-dialect/src/test/resources/liquibase.properties
Labels: liquibase

#69 [Flyway]: Initial flyway dialect
  flyway-dialect/pom.xml
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbConnection.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbDatabase.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbDatabaseType.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbParser.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbSchema.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbTable.java
  flyway-dialect/src/main/resources/META-INF/services/org.flywaydb.core.extensibility.Plugin
Labels: flyway

#71 [Flyway]: Integration test
  flyway-dialect/pom.xml
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbConnection.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbDatabase.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbDatabaseType.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbJdbcTemplate.java
  flyway-dialect/src/main/java/tech/ydb/flywaydb/database/YdbSchema.java
  flyway-dialect/src/test/java/tech/ydb/flyway/database/YdbFlywayTest.java
  flyway-dialect/src/test/resources/db/migration/V1_create_tables.sql
Labels: flyway

#77 [Liquibase]: Support generate-changelog
  liquibase-dialect/src/main/java/tech/ydb/liquibase/database/YdbDatabase.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/snapshot/UniqueConstraintSnapshotGeneratorYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/DecimalTypeYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/IntervalTypeYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/JsonDocumentTypeYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/JsonTypeYdb.java
  liquibase-dialect/src/main/resources/META-INF/services/liquibase.datatype.LiquibaseDataType
  liquibase-dialect/src/main/resources/META-INF/services/liquibase.snapshot.SnapshotGenerator
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseGenerateChangeLogTest.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseLiquibaseAllTypesTableTest.java
Labels: liquibase

#85 [Liquibase]: Support NOT NULL column in createTable
  liquibase-dialect/src/main/java/tech/ydb/liquibase/sqlgenerator/CreateTableGeneratorYdb.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseGenerateChangeLogTest.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseLiquibaseAllTypesTableTest.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseLiquibaseChangeLogStateTest.java
Labels: liquibase

#84 Dialect implementation and support
  spring-data-dialect/pom.xml
  spring-data-dialect/src/main/java/tech/ydb/data/config/AbstractYdbJdbcConfiguration.java
  spring-data-dialect/src/main/java/tech/ydb/data/config/YdbDialectProvider.java
  spring-data-dialect/src/main/java/tech/ydb/data/core/convert/YdbJdbcColumnTypes.java
  spring-data-dialect/src/main/java/tech/ydb/data/core/convert/YdbMappingJdbcConverter.java
  spring-data-dialect/src/main/java/tech/ydb/data/support/YdbJdbcUtil.java
  spring-data-dialect/src/main/resources/META-INF/spring.factories
Labels: spring-data

#90 Add integration tests
  spring-data-dialect/src/test/java/tech/ydb/data/YdbBaseTest.java
  spring-data-dialect/src/test/java/tech/ydb/data/YdbJdbcConfiguration.java
  spring-data-dialect/src/test/java/tech/ydb/data/all_types_table/AllTypesTableTest.java
  spring-data-dialect/src/test/java/tech/ydb/data/all_types_table/entity/AllTypesEntity.java
  spring-data-dialect/src/test/java/tech/ydb/data/all_types_table/repository/AllTypesEntityRepository.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/entity/Author.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/entity/AuthorRef.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/entity/Book.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/entity/Reader.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/entity/Review.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/entity/ReviewRef.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/repository/AuthorRepository.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/repository/BookRepository.java
  spring-data-dialect/src/test/java/tech/ydb/data/books/repository/ReaderRepository.java
  spring-data-dialect/src/test/resources/application.properties
  spring-data-dialect/src/test/resources/changelogs/all_types_table.yaml
  spring-data-dialect/src/test/resources/changelogs/books.yaml
  spring-data-dialect/src/test/resources/changelogs/changelog.yaml
  spring-data-dialect/src/test/resources/changelogs/insert_all_types_table.csv
Labels: spring-data

#92 [Liquibase]: stress test liquibase update in concurrency execution
  liquibase-dialect/stress-test/Dockerfile
  liquibase-dialect/stress-test/README.md
  liquibase-dialect/stress-test/changelog/changelog-1.xml
  liquibase-dialect/stress-test/changelog/changelog-2.xml
  liquibase-dialect/stress-test/changelog/changelog-3.xml
  liquibase-dialect/stress-test/changelog/changelog-4.xml
  liquibase-dialect/stress-test/changelog/changelog-5.xml
  liquibase-dialect/stress-test/changelog/csv/episodes.csv
  liquibase-dialect/stress-test/changelog/migration/add-column-episodes.xml
  liquibase-dialect/stress-test/changelog/migration/create-index-episodes.xml
  liquibase-dialect/stress-test/changelog/migration/episodes.xml
  liquibase-dialect/stress-test/changelog/migration/load-csv-to-episodes.xml
  liquibase-dialect/stress-test/changelog/migration/rename-table-episodes.xml
  liquibase-dialect/stress-test/go.mod
  liquibase-dialect/stress-test/liquibase.properties
  liquibase-dialect/stress-test/liquibase_stress_test.go
  liquibase-dialect/stress-test/run.sh
Labels: liquibase

#93 feat: [Liquibase] stress test without docker liquibase cli
  liquibase-dialect/stress-test/changelog/changelog-0.xml
  liquibase-dialect/stress-test/changelog/csv/episodes.csv
  liquibase-dialect/stress-test/liquibase_stress_test.go
  liquibase-dialect/stress-test/run.sh
Labels: liquibase

#100 feat: [Liquibase] preparing README.md
  README.md
  liquibase-dialect/README.md
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseCSVLoadTest.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseLiquibaseAllTypesTableTest.java
  liquibase-dialect/src/test/resources/changelogs/changelog_all_types_table.xml
  liquibase-dialect/src/test/resources/changelogs/csv/test-insert.csv
  liquibase-dialect/src/test/resources/changelogs/csv/test-upsert.csv
  liquibase-dialect/src/test/resources/changelogs/migration/all_types_table.xml
  liquibase-dialect/stress-test/README.md
  liquibase-dialect/stress-test/changelog/migration/all_types_table.xml
  liquibase-dialect/stress-test/go.mod
  liquibase-dialect/stress-test/go.sum
  liquibase-dialect/stress-test/liquibase_stress_test.go
Labels: liquibase

#101 feat: [Liquibase] release 1.0.0
  README.md
  liquibase-dialect/CHANGELOG.md
  liquibase-dialect/pom.xml
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/DecimalTypeYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/IntTypeYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/TimeTypeYdb.java
  liquibase-dialect/src/main/java/tech/ydb/liquibase/type/TimestampTypeYdb.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseGenerateChangeLogTest.java
  liquibase-dialect/src/test/java/tech/ydb/liquibase/YdbDatabaseLiquibaseAllTypesTableTest.java
Labels: liquibase
